<app-chart-widget>
  <div class="chart-container">
    <div class="bar-chart-visualization">
      <div class="chart-bars">
        <div class="bar-item" *ngFor="let item of chartData">
          <div class="bar" [style.height.%]="(item.value / getMaxValue()) * 80"></div>
          <div class="bar-label">{{item.name}}</div>
          <div class="bar-value">{{item.value | number:'1.1-1'}}</div>
        </div>
      </div>
      
      <div class="axis-labels" *ngIf="showXAxisLabel || showYAxisLabel">
        <div *ngIf="showYAxisLabel" class="y-axis-label">{{yAxisLabel}}</div>
        <div *ngIf="showXAxisLabel" class="x-axis-label">{{xAxisLabel}}</div>
      </div>
    </div>
  </div>
</app-chart-widget>
